.main-div {
  width: 40rem;
  height: 30rem;

  border: 1px solid black;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.wrapper {
  display: flex;
  /* flex-direction: column; */
  text-align: center;

  justify-content: center;
}

.Heading {
  /* background: cadetblue; */
  height: 15%;
  background: #234e9b;
  color: white;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem;
}

.inputDiv {
  height: 19%;
}
